.organic-card{
    display: grid;
    grid-template-columns: repeat(3, auto);
        align-items: center;
        padding-left: 100px;
       
}
.organic-card h1{
    font-family: Sharp Sans No1;
        font-weight: 780;
        font-size: 44px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        color: #000000;
}
.organic-card p{
    font-family: Sharp Sans No1;
        font-weight: 760;
        font-size: 20px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        color: #545454;
}
@media (max-width:722px) {
    .organic-card {
        display: flex;
        flex-direction: column;
        align-items: center;
       margin-left: -60px;
    }
}
@media (max-width:474px) {
    .organic-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
}
